body {
	background-color: #444349;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.container-fluid{
  height:100%;
  width: 100%;
  display:table;

  padding: 0;
}

.row-fluid {
	display:table-cell; 
	vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}

.title {
	font-family: 'Lato', sans-serif;	
	font-weight: lighter;
	font-size: 80px;
	color: white;
}

.title a {
	color: white;
}

.headshot-image-container {
	border-radius: 100%;
    border: 2px solid white;

	width: 140px;
	height:140px;
	
	background-image: url("../img/headshot.jpg");
	background-size: cover;
	
	display: block;
	margin:auto;
}

.background-container {
	background-color: blue;
	display: block;
	margin: auto;
	height: 99%;
	width: 99%;
	background: url(../img/stardust.png);
}

.timeline-background-container {
	height: auto;
}

.links-bar {
	background-color: transparent;
}
.links-bar a {
	color: white;
	font-family: 'Lato', sans-serif;	
	font-weight: lighter;
}

.navbar-nav > li > a:hover {
	color: white;
	text-decoration: underline;
	background-color: transparent;
}

.cd-container {
	font-family: 'Lato', sans-serif;	
}

.cd-date {
	color: white;
}